
:root,
body{
    min-height: 100%;
    background-color: rgb(31, 31, 31);
}

.book-card{
    border: solid 2px rgb(151, 151, 151);
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 87);
    color: ghostwhite;
}
.mainBooksContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 6rem;
    gap: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

::backdrop {
    background-color: rgba(13, 29, 56, 0.401);
  }