
:root,
body{
    min-height: 100%;
    height: 100%;
    background-color: rgb(31, 31, 31);
}

.book-collection{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    height: 6rem;
    gap: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

::backdrop {
    background-color: rgba(13, 29, 56, 0.401);
  }

.book{
    background-color: rgb(27, 35, 74);
    color: ghostwhite;
}
.library{
    display: grid;
    border: 2px solid peachpuff;
    height: 10rem;
    overflow: scroll;
}
#showDialog{
    height: 30px;
}